/* boxmodel */

/* This is to see all the borders of the elements */

/* * {
	border: 1px dotted darkgray;
	outline: 1px dotted black;
} */

/* Base stuff */

html {
	background-color: #111;
	color: #ddd;
	box-sizing: border-box;
	font-family: Calibri, sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
}

/* main */

nav {
	background-color: #A80000;
	box-shadow: 0 5px 5px #333;
}

main {
	padding: 0 20px 0 20px;
	margin: 0 20px 0 20px;
}

h2>a {
	display: flex;
	align-items: center;
}

h1, h2 {
	margin: 18px 0 0 0;
}

a>span {
	padding: 0 0 0 .3em;
}

/* links */

body a {
	color: #A80000;
	text-decoration: none;
}

body a:hover {
	text-decoration: underline;
}

.anchor::before {
	/* content: "§ " */
	/* content: "⟁ " */
	/* content: "◿◺ " */
	content: "◿ ";
}

nav>a {
	display: inline-block;
	padding: 8px;
	font-size: 24px;
	font-family: Calibri, sans-serif;
	color: #000;
}

nav>a:hover {
	background-color: #000;
	color: #A80000;
}

table {
	margin: 18px 0 0 0;
	border: 1px solid #C80000;
	border-collapse: collapse;
	box-shadow: 0 5px 5px #333;
	font-family: Tahoma, sans-serif
}

table th {
	background-color: #A80000;
	border: 1px solid #A80000;
	color: #fff;
	margin: 0;
	padding: .25em
}

table td {
	border: 1px solid #A80000;
	margin: 0;
	padding: .25em;
	text-align: left;
	vertical-align: top
}

.crypto-address {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: xx-small
}

.copyright {
	color: #A80000;
}

p {
	margin: 0 0 2px 0;
	text-align: justify
}